<h2></h2>

<ce-tabs>
    <div class="tab-title">
        <h3>General</h3>
    </div>
    <div class="tab-title">
        <h3>Location</h3>
    </div>
    <div class="tab-title">
        <h3>Time</h3>
    </div>
    <div class="tab-panel">
        <h3>Name</h3>
        <input class="event-name" />

        <h3>Image Url</h3>
        <input class="event-image-url" />

        <h3>Abstract</h3>
        <div></div>

        <h3>Description</h3>
        <div></div>
    </div>
    <div class="tab-panel">

    </div>
    <div class="tab-panel">

    </div>
</ce-tabs>

<ce-button class="save-button">Save</ce-button>
<ce-button class="delete-button">Delete</ce-button>